<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizzasallad</title>
</head>
<body>
  <h1>Recept på pizzasallad</h1>
    <p>
    Receptet är hämtat från <a href=https://www.kokaihop.se/recept/pizzasallad-5>https://www.kokaihop.se/recept/pizzasallad-5</a>.
  </p>
  <table border="5"  width="50%"   cellpadding="4" cellspacing="3">
    <tr>
      <th colspan="2"><br><h3>Ingredienser</h3>
      </th>
    {% for key, value in ingredients.items() %}
    <tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
    </tr>
    {% endfor %}
  </table>

    <form method="get">
      <div class="form-group">
	<p>
      <label for="weight">Vikt för vitkål i gram: </label>
        <input type="text" name="weight"
               placeholder="Vikt kål" class="form-control"
               value="{{ request.form['weight'] }}"></input>
	</p>
    </div>
      <div class="form-group">
	<p>
      <label for="concentration">Koncentration på ättika i procent: </label>
        <input type="text" name="concentration"
               placeholder="koncentration" class="form-control"
               value="{{ request.form['concentration'] }}"></input>
	</p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Uppdatera recept</button>
    </div>
  </form>

  <h3>Gör så här:</h3>
  <ol>
    <li>Alla ingredienser ska ha rumstemperatur.</li>
    <li>Skär vitkålen i fina strimlor med osthyvel. Stocken används ej.</li>
    <li>Väg upp den strimlade kålen i en jättestor plastbunke (minst femliters). Uppdatera ingredienserna ovan med denna vikten.</li>
    <li>Blanda en lag av salt, socker, ättikssprit och vatten. Häll lagen över kålen och låt stå en timme i rumstemperatur. Rör om då och då och pressa ner kålen under ytan.</li>
    <li>Låt kålen rinna av i ett durkslag, men spara lite av lagen.</li>
    <li>Lägg tillbaka kålen i bunken och blanda med oljan. Strö över salladskrydda och svartpeppar och rör om. Häll till sist i lite av den sparade lagen. 10-15 g per 100 g kål brukar bli bra. Blanda väl, täck med plastfilm och ställ i kylskåp.</li>
    <li>Nästa dag är salladen färdig att ätas. Den håller sig fräsch länge i kylen, en vecka utan problem.</li>
  </ol>
</body>
</html>
